:host {
    .content {
        display: flex;
        justify-content: center;
        max-width: 100%;
        flex-wrap: wrap;
        margin-top: 25px;
    }

    img {
        width: 100%;
        height: auto;
        max-height: 50%;
    }

    .card {
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        overflow: hidden;

        width: 400px;
        height: 320px;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .container {
        display: flex;
        flex-direction: column;
        padding: 2px 16px;

        width: 100%;
        height: 50%;

        h4 {
            width: 80%;
            height: 15%;
        }

        p {
            width: 80%;
            height: 15%;
        }
    }

    .card-button {
        width: 80%;
        height: 20%;
        display: flex;
        justify-content: space-between;
    }

    .rate-button {
        display: flex;
    }

    @media only screen and (max-device-width: 700px) {
        .card {
            width: 80%;
        }

        .content {
            flex-direction: column;
        }

        .card-button {
            width: 90%;
        }
    }
}