<div class="content">
    <div class="card">
        <img src="assets\sample.jpg" alt="sample image">
        <div class="container">
            <h4><b>New News now</b></h4>
            <p> New News now New News now</p>
            <div class="card-button">
                <button class="btn btn-primary">View more...</button>

                <div class="rate-button">
                    <button class="btn up-vote">Up vote</button>
                    <button class="btn down-vote">Down vote</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <img src="assets\sample.jpg" alt="sample image">
        <div class="container">
            <h4><b>New News now</b></h4>
            <p> New News now New News now</p>
            <div class="card-button">
                <button class="btn btn-primary">View more...</button>

                <div class="rate-button">
                    <button class="btn up-vote">Up vote</button>
                    <button class="btn down-vote">Down vote</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <img src="assets\sample.jpg" alt="sample image">
        <div class="container">
            <h4><b>New News now</b></h4>
            <p> New News now New News now</p>
            <div class="card-button">
                <button class="btn btn-primary">View more...</button>

                <div class="rate-button">
                    <button class="btn up-vote">Up vote</button>
                    <button class="btn down-vote">Down vote</button>
                </div>
            </div>
        </div>
    </div>

</div>