.btn-secondary {
    font-size: 1rem;
    padding: 0.5rem;

    background: white;
    color: var(--primary);
    margin-bottom: 1px;

    &:hover {
        border-bottom: 2px solid var(--primary);
    }
}