<header>
    <div class="social-medias">
        <ul>
            <li><a href="https://www.linkedin.com/in/gabriel-ninow/" target="_blank">LinkedIn</a></li>
            <li><a href="https://github.com/GabrielNinow" target="_blank">Github</a></li>
            <li><a href="https://gabrielninow.github.io/professional-page/" target="_blank">Portfólio</a></li>
        </ul>
    </div>

    <div class="account-management">
        <button class="btn btn-secondary login">Login</button>
        <button class="btn btn-primary signin">SignIn</button>
    </div>
</header>