:host {
    li>a {
        color: var(--black-010);
    }

    li>a:hover {
        border-bottom: 3px solid var(--primary);
    }

    ul {
        display: flex;
        flex-direction: row;
    }

    li {
        display: flex;
        flex-direction: row;
        margin: 0.2rem 0.5rem;
        align-items: center;
    }

    header {
        height: 12vh;
        min-height: 50px;
        max-height: 70px;
    }

    button,
    a {
        margin: 0 1rem;
    }

    @media only screen and (max-device-width: 700px) {
        header {
            display: none;
        }
    }
}