:root {
    --primary: #3030af;
    --primary-010: #232382;

    --secondary: #3030af;
    --secondary-010: #232382;

    --white: #fff;
    --white-010: #eeeeee;
    ;

    --black: #10101a;
    --black-010: #181820;

    --grey: #9b9ba096;
}