<footer>
    <div class="content">
        <span class="copyright">© 2024 Copyright placeholder</span>

        <div class="social">
            <a href="https://www.linkedin.com/in/gabriel-ninow/" target="_blank" class="icon">
                <img src="assets\icons\linkedin.svg" widht="30px" height="30px" alt="linkedin icon">
            </a>
            <a href="https://github.com/GabrielNinow" target="_blank" class="icon" legend="Github">
                <img src="assets\icons\github.svg" widht="30px" height="30px" alt="linkedin icon">
            </a>
            <a href="https://gabrielninow.github.io/professional-page/" target="_blank" class="icon"
                legend="Personal Page">
                <img src="assets\icons\user.svg" widht="25px" height="25px" alt="linkedin icon">
            </a>
        </div>
    </div>
</footer>